# Pandas를 이용한 통계 분석

In [1]:
import pandas as pd
import numpy as np

### Series 작성하기

In [2]:
ser = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

레이블을 사용해서 데이터를 선택하기

In [3]:
ser.loc['b']

2

In [4]:
ser['b']

2

Series의 값 확인하기

In [5]:
ser.values

array([1, 2, 3], dtype=int64)

Series의 인덱스 확인하기

In [6]:
ser.index

Index(['a', 'b', 'c'], dtype='object')

In [7]:
ser.dtypes

dtype('int64')

### DataFrame 작성하기

In [8]:
df = pd.DataFrame([['a', 10, 100], ['b', 20, 200], ['c', 30, 300]],
index=['r1', 'r2', 'r3'], columns=['c1', 'c2', 'c3'])
df

   c1  c2   c3
r1  a  10  100
r2  b  20  200
r3  c  30  300

In [9]:
dates = pd.date_range('20200107', periods=10)
dates

DatetimeIndex(['2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-11', '2020-01-12', '2020-01-13', '2020-01-14',
               '2020-01-15', '2020-01-16'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(10,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-07 -0.153471 -0.135003  1.225241  0.467070
2020-01-08 -0.290946 -1.115022 -1.523455 -1.395604
2020-01-09  0.752227  2.238618  0.479482 -0.049383
2020-01-10  0.449986  0.637539  0.504474  0.273181
2020-01-11  0.269853 -0.318314  0.323059 -1.284690
2020-01-12  0.622029 -1.364162 -0.298747 -2.144432
2020-01-13 -0.709263  0.318301  0.037050  0.987582
2020-01-14  0.645958  1.083389  0.348144  0.312365
2020-01-15 -0.344652  0.219294  0.554235 -0.016030
2020-01-16 -2.093850  1.435206 -1.312036 -0.423193

In [12]:
anime_master_csv = './sample-data/anime/anime_master.csv'

In [13]:
pd.read_csv(anime_master_csv)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
10070,11095,Zouressha ga Yatte Kita,Adventure,Movie,1,6.06,78
10071,7808,Zukkoke Knight: Don De La Mancha,"Adventure, Comedy, Historical, Romance",TV,23,6.47,172
10072,28543,Zukkoke Sannin-gumi no Hi Asobi Boushi Daisakusen,"Drama, Kids",OVA,1,5.83,50
10073,18967,Zukkoke Sannin-gumi: Zukkoke Jikuu Bouken,"Comedy, Historical, Sci-Fi",OVA,1,6.13,76
10074,13455,Zumomo to Nupepe,Comedy,TV,32,7.00,120